body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 24px 10px;
  line-height: 1.65em;
  background: #009447;
  color: #fff;
  font-weight: 300;
}

h1 {
  text-align: center;
  line-height: 140%;
  margin: 8% 60 5% 0;
}

#theDuck {
  background-color: transparent;
  margin: 20px auto 20px;
  display: block;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18pt;
  padding: 0.6em 1em;
  transition-duration: 0.4s;
}

#theDuck:hover {
  background-color: #ffffff;
  text-align: center;
  color: #009447;
  position:relative;
  top:-1px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  height: 300px;
  corner-radius: 8px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-border-radius:25px;
  -webkit-border-radius:25px;
  border-radius:25px;
  border:10px solid #fff;
}

