body {
  padding: 0px;
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  line-height: 1.65em;
  background: #009447;
  color: #fff;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 600ms;
}

.WhiteBackground {
  background: white;
}

.DuckContainer {
  z-index: 100;
  padding-left: 12px;
  padding-right: 12px;
  @media(min-width: 768px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.HeadingContainer {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeadingContainer.DisplayNone {
  transition: all 600ms;
  display: none;
}

h1 {
  font-size: 1.5em;
  text-align: center;
  line-height: 140%;
  margin: 8% 60 5% 0;
  transition: all 600ms;
}

h3 {
  font-style: italic;
  font-weight: 400;
  padding-bottom: 20px;
  transition: all 600ms;
  padding-left: 8px;
  padding-right: 8px;
}

@media(min-width: 992px) {
  h1{
    font-size: 2em;
  }
}

.Title {
  font-size: 2.5em;
}

@media(min-width: 992px) {
.Title {
  font-size: 3em;
  }
}

.Title.DisplayNone {
  transition: all 600ms;
  display: none;
}

#theDuck {
  background-color: transparent;
  margin: 20px auto 20px;
  display: block;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18pt;
  padding: 0.6em 1em;
  transition-duration: 0.4s;
}

#theDuck:hover {
  background-color: #ffffff;
  color: #009447;
  top:-1px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.SummaryContainer {
  text-align: center;
  transition: all 250ms;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 600ms;
}

.SummaryContainer.Expand {
  transition: opacity 500ms;
  transition: max-height: 500ms;
  max-height: 1000px;
  max-width: 1000px;
  opacity: 1;
  transition: all 600ms;
}

.SummaryImage{
  width: 500px;
  height: auto;
  margin: 20px 40px;
  border-radius: 16px;
  max-width: 80vw;
  margin: auto;
}

.DarkText {
  color: #485146;
}

@keyframes slideDown {
  from {
    top: -20vh;
    transform: scale(200%);
  }

  to {
    top: 110vh;
    /* top: 90vh; */
    opacity: 50%;
    transform: scale(50%);
  }
}

.RainingEmoji {
  position: absolute;
  left: 20vw;
  top: -10vh;
  animation-name: slideDown;
  z-index: 10;
}

.Animation-a {
  animation-duration: 10s;
}
.Animation-b {
  animation-duration: 12s;
}
.Animation-c {
  animation-duration: 8s;
}
.Animation-d {
  animation-duration: 6s;
}
.Animation-e {
  animation-duration: 14s;
}
