body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 1.2em;
  margin: 0 auto;
  max-width: 960px;
  padding: 24px 10px;
  line-height: 1.65em;
  background: #009447;
  color: #fff;
  font-weight: 300;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.HeadingContainer {
  min-height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.HeadingContainer.DisplayNone {
  display: none;
}

h1 {
  text-align: center;
  line-height: 140%;
  margin: 8% 60 5% 0;
}

.Title {
  font-size: 3em;
}

.Title.DisplayNone {
  display: none;
}

#theDuck {
  background-color: transparent;
  margin: 20px auto 20px;
  display: block;
  text-align: center;
  border: 2px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  font-size: 18pt;
  padding: 0.6em 1em;
  transition-duration: 0.4s;
}

#theDuck:hover {
  background-color: #ffffff;
  color: #009447;
  top:-1px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.1);
}

.SummaryContainer {
  text-align: center;
  transition: all 250ms;
  max-height: 0px;
  max-width: 0px;
  opacity: 0;
  overflow: hidden;
}

.SummaryContainer.Expand {
  transition: opacity 500ms;
  transition: max-height: 500ms;
  max-height: 1000px;
  max-width: 1000px;
  opacity: 1;
}

.SummaryImage{
  width: 500px;
  height: auto;
  margin: 20px 40px;
  border-radius: 16px;
}
